body{
  font-family: "Open sans", sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
}
/*============INDEX/BACKOFFICE============*/
form {
  background-color: #5599FF;
  border-radius: 10px;
  min-height: 170px;
  box-shadow: 0 0 10px 0.5px #656565;
  margin: auto;
  padding-top: 20px;
  min-width: 300px;
  border: 1px solid #3a74d1;
}
#nom{
  text-transform: uppercase;
}
#prenom{
  text-transform: capitalize;
}
#tableau{
  padding-top: 2px;
  margin: 0 auto 0 2%;
  position: absolute;
}
#tableau, #div1{
  display: inline-block;
}
#div1{
  margin: 0;
}
#content{
  width: 600px;
  margin: 0 auto;
}
select{
  margin: 0;
  width: 250px;
  background-color: #333;
  border: 1px solid #333;
  color: white;
  border-radius: 0px 0px 0px 0px;
 -moz-border-radius: 0px 0px 0px 0px;
 -webkit-border-radius: 0px 0px 0px 0px;
}
table td:nth-child(1) {
    text-transform: uppercase;
}
table td:nth-child(2) {
    text-transform: capitalize;
}
.btn-back.coloring{
  background-color: #5599ff;
}
/*============HOMEPAGE============*/
#hpbody{
  background: url('../img/examen.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif;
}
#hpform{
  padding: 20px 0 0;
}
#hpimg{
  position: relative;
  top: 9px;
  margin: 0 auto;
  height: 40px;
  width: 40px;
}
#hpfooter{
  margin: 0;
}
#hpheader{
  text-align: center;
  margin: 0;
  background-color: white;
  height: 100px;
  line-height: 100px;
}
#sorts {
    margin: 0 auto;
    text-align: center;
}
.hpli{
  cursor: pointer;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background 0.5s;
}
.hpli:hover {
  transition: background 0.3s;
  background-color: #5599FF;
}
#hpul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#hph1{
  margin: 0;
}
.hpli.coloring{
  background-color: #5599ff;
}
#help{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 40px;
    margin-right: 5%;
    border: 2px solid #5599ff;
	border-radius: 50%;
	width: 25px;
    height: 25px;
    cursor: pointer;
}
/*============CHARTE GRAPHIQUE============*/
.cgh1{
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  color: gray;
  font-size: 28px;
  margin: 0;
  margin-bottom: 20px;
  text-decoration: underline ;
}
input[type="button"]{
  margin: 0;
  padding: 0;
  width:250px;
  height: 58px;
  color: white;
  background-color: #333;
  border: 0px;
  transition: background 0.5s;
}
input[type="button"]:hover{
  transition: background 0.3s;
  background-color: #5599FF;
}
html,#cgbody{
  font-family: "Open sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#cgbody a{
  text-decoration: none;
}
#all_content{
  margin: 0;
  padding: 0px;
  display: table;
  width: 100%;
  height: 100%;
}
#left_content{
  padding: 0px;
  margin: 0px;
  width: 200px;
  background-color: #333;
  display: table-cell;
  transition: all .5s ease;
}
#right_content{
  padding: 0;
  margin: 0;
  display: table-cell;
  position: relative;
}
#rinner_content{
  padding: 10px;
}
#cgheader{
  width: 100%;
  height: 50px;
  background-color: #333;
  position: relative;
  display: none;
}
#cgul{
  position: fixed;
  top: 0;
  width: 200px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.cgil{
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Open sans", sans-serif;
  line-height: 50px;
  height: 50px;
  list-style: none;
  transition: background 0.5s;
}
.cgil:hover{
  transition: background 0.3s;
  background-color: #5599FF;
}
.cgilbtn{
  background-color: #5599ff;
  border-radius: 5px;
  bottom: 5px;
  color: white;
  cursor: pointer;
  display: none;
  height: 33px;
  left: 10px;
  margin: 0;
  padding: 7px 0 0px;
  position: absolute;
  text-align: center;
  width: 50px;
}
.cgilbtn i{
  font-size: 24px;
}
.cgcross{
  list-style: outside none none;
  position: absolute;
  right: 5px;
  color: #5599ff;
  display: none;
  cursor: pointer;
  font-size: 30px;
}
.backhome{
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #333;
  color: white;
  border-bottom-left-radius: 10px;
}
#wrapper-select{
  width: 300px;
  text-align: center;
  margin: 0 auto;
}
/*------------ profbts ------------*/
#notAssigned, #assigned {
  width: 142px;
  min-height: 20px;
  margin: 0;
  padding: 5px 0 0 0;
  margin-right: 10px;
}
#wrapper-select label{
  color: white;
}
#wrapper-nA > label, #wrapper-a > label {
    background: #333333 none repeat scroll 0 0;
    color: white;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    width: 300px;
}
#wrapper-nA,#spacer,#wrapper-a{
  display: inline-block;
  vertical-align: top;
}
#notAssigned, #assigned {
  background-color: #333;
  list-style-type: none;
  margin: 0 auto;
  min-height: 44px;
  padding: 2px 0 ;
  width: 300px;
}
#spacer{
  color: inherit;
  background-color: inherit;
  width: 300px;
}
#notAssigned li, #assigned li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  width: 276px;
}
/*------------ btsepreuve ------------*/
#be-body{
  font-family: "Open Sans";
}
#be-content #be-form{
  width: 300px;
  min-height: 170px;
}
#be-time{
  margin-right: 5px;
}
#be-wrapper{
  width: 250px;
  margin: 0 auto;
  text-align: center;
}
#be-wrapper select,#be-wrapper input{
  text-align: center;
  margin-bottom: 22px;
}
/*------------ UIJQUERY ------------*/
.ui-mobile .ui-loader{
  display: none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #5599ff none repeat scroll 0 0;
    border: 1px solid #3a74d1;
    color: white;
}
.ui-mobile .ui-loader{
  display: none;
}
/*------------ MAJEPREUVE ------------*/
#maj-form{
  text-align: center;
  max-width: 350px;
}
#maj-wrapper{
  margin: 0 auto;
  max-width: 250px;
  min-height: 100px;
}
#maj-wrapper label{
  float: left;
}
#maj-wrapper select, #maj-wrapper input[type='text']{
  margin-bottom: 10px;
}
#maj-sorts{
  margin: 0 auto;
  padding: 0;
  min-height: 165px;
  min-width: 200px;
}
#notMaj, #isMaj {
  border: 1px solid #eee;
  width: 142px;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  display: inline-block;
  vertical-align: top;
}
#notMaj li, #isMaj li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  width: 120px;
}
/*------------ UIJQUERY ------------*/
.ui-mobile .ui-loader{
  display: none;
}
.backhome:hover > .cg-triangle{
  animation: mymove .5s infinite;
}
.backhome .cg-triangle{
  position: absolute;
  left: -20px;
  top: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 13px;
  border-color: transparent transparent transparent #5599ff;
}
.color_content{
  width: 250px;
  height: 120px;
  display: inline-block;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin-bottom: 5px;
}
.block_color{
  margin: 4px;
  height: 60px;
  border-radius: 5px;
}
.def_color{
  margin: 4px;
  height: 60px;
}
p{
  margin: 0;
  color: gray;
}
#italic-font{
  font-style: italic;
}
#bold-font{
  font-weight: bold;
}
#cg-img{
  width: 600px;
}
#cg-form{
  margin: 0;
  width: 300px;
}
@keyframes mymove {
  0% {left: -20px;}
  50% {left: -15px;}
  100% {left: -20px;}
}
/*------------ HORIZONTAL MEDIAQUERIES ------------*/
/*============ 800px -> 635px ============*/
@media screen and (max-width: 800px) {
  #cgbody #all_content #left_content.active{
    left: 0;
  }
  #cgbody #all_content #left_content{
    display: inherit;
    position: fixed;
    top: 0;
    left: -999px;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  #cgbody #all_content #left_content #cgul{
    position: relative;
    margin: 0 auto;
    width: 100%;
  }
  #cgbody #all_content #left_content #cgul .cgil{
    width: 100%;
  }
  #cgbody #all_content #left_content #cgul .cgil:hover{
    transition: color 0.3s;
    color: #5599FF;
    background-color: inherit;
  }
  #cgbody #all_content #right_content,
  #cgbody #all_content #cgheader,
  #cgbody #all_content #cgheader .cgilbtn,
  #cgbody #all_content #left_content #cgul .cgcross{
    display: block;
  }
  #cgbody #all_content #right_content .backhome{
    height: 30px;
    line-height: 30px;
    top: -50px;
  }
  #cgbody #all_content #right_content .backhome .cg-triangle{
    top: 18px;
    border-color: transparent transparent transparent #5599ff;
  }
}
/*============ 635px -> 490px ============*/
@media screen and (max-width: 850px) {
  #cgbody #all_content #right_content #rinner_content #hpul{
    width: 390px !important;
    height: 50px;
  }
  #cgbody #all_content #right_content #rinner_content #hpul .hpli{
    cursor: pointer;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background 0.5s;
    height: 100%;
    width: calc(100%/4);
    padding: 0;
    margin: 0;
    line-height: 50px;
  }
  #cg-img{
    width: 450px;
  }
}
/*============ 490px -> ?px ============*/
@media screen and (max-width: 490px) {
  #cgbody #all_content #right_content #rinner_content #hpul{
    width: 325px !important;
    height: 50px;
  }
  #cg-img{
    width: 350px;
  }
}
